target
.DS_Store
Cargo.lock
dist
# to ignore all uploaded entries
/backend/holiapi/static/images/*.*
/backend/holiapi/static/pdfs
/backend/holiapi/static/files
/backend/holiapi/static/uploaded
*.pdf
*old*
*secret*
__pycache__
config.json
log.txt
*.db
.idea
.vscode