
main {
    width: 30em;
}

.login {
    max-width: 200px;
}

#navbar-holi {
    max-width: 200px;
}

.holi-green {
    background-color: rgb(42, 168, 137);
}

.login-form {
    width: min-content;
    margin-left: auto;
    margin-right: auto;

    margin-top: 40px;   
}



.it_bg_color {
    background-color: rgba(236,102,8,1);
    /*
    border: white;
    border-style: solid;
    border-width: 2px;
    */
}

.it_color {
    color: rgba(236,102,8,1);
}


.wi_bg_color {
    background-color: rgba(0,97,160,1);
    /*
    border: white;
    border-style: solid;
    border-width: 2px;
    */
}

.me_bg_color {
    background-color: rgba(147,201,14,1);
    /*
    border: white;
    border-style: solid;
    border-width: 2px;
    */
}

.el_bg_color {
    background-color: rgba(255,209,0,1);
    /*
    border: white;
    border-style: solid;
    border-width: 2px;
    */
}

.mb_bg_color {
    background-color: rgba(0,150,94,1);
    /*
    border: white;
    border-style: solid;
    border-width: 2px;
    */
}

.et_bg_color {
    background-color: rgba(206,0,55,1);
}




.square {
    border-radius: 0 !important;
    
    width: 10rem;
    height: 10rem;
    min-width: 10rem;
    
    /*
    max-width: 15rem;
    max-height: 15rem;
    */
    
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.highlight a:hover {
    border: black;
    border-width: 1.5px;
    border-style: solid;
    text-decoration: none;
    color: inherit;
}

.highlight-in-use a:hover {
    color: inherit;
}